html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

@media screen and (max-width: 400px) {
    .ant-table table,
    .ant-menu-title-content {
        font-size: 10px;
    }
}

.ant-form {
    width: 90vw;
    margin: 0 auto;
}
